.inner-mat-card {
   margin: 0.5rem;
   :hover {
      cursor: pointer;
   }
   img {
      margin-bottom: 0;
      width: 120px;
      height: 120px;
      max-width: 130px;
      max-height: 130px;
   }
   mat-card-content {
      word-wrap: break-word;
      width: 120px;
      max-width: 130px;
   }
   &:first-child {
      margin-top: auto;
   }
}

.list-container {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}
