<div [ngClass]="themeClass" class="pokemon-details" *ngIf="pokemonDetails">
   <div>
      <mat-toolbar>
         {{ pokemonDetails.name | titlecase }}
         <div class="spacer"></div>
         <div>
            <app-badge
               *ngFor="let type of pokemonDetails.types"
               [badgeText]="type.type.name"
               [stylesClass]="'badge-styles-' + type.type.name"
            >
            </app-badge>
         </div>
      </mat-toolbar>
      <div class="content-row">
         <mat-card style="flex: 1; max-width: 114px;">
            <img mat-card-image [src]="pokemonDetails.sprites.front_default" />
         </mat-card>
         <app-pokemon-stats
            [stats]="pokemonDetails.stats"
            style="flex: 2;"
         ></app-pokemon-stats>
      </div>
   </div>
   <app-pokemon-profile [details]="pokemonDetails" [id]="pokemonDetails.id">
   </app-pokemon-profile>
   <app-pokemon-evolution [details]="pokemonDetails" [id]="pokemonDetails.id">
   </app-pokemon-evolution>
   <app-pokemon-damage [details]="pokemonDetails" [id]="pokemonDetails.id">
   </app-pokemon-damage>
</div>
