<div class="list-container">
   <div
      *ngFor="let pokemonDetail of pokemonDetails"
      appImgCardHover
      [routerLink]="['/details', pokemonDetail.id]"
      class="pokemon-card"
      [attr.data-content]="pokemonDetail.name"
   >
      <img
         [src]="pokemonDetail.sprites.front_default"
         alt="Photo of a pokemon"
      />
   </div>
   <div *ngFor="let i of [1, 2, 3, 4, 5, 6]" class="hack-div"></div>
</div>
<div *ngIf="pokemons && pokemonDetails" style="display: flex;">
   <span class="spacer"></span>
   <span [style.padding]="'35px'">
      <button
         [disabled]="pokemons.previous === null"
         (click)="previousClicked.emit(pokemons)"
         mat-raised-button
         color="primary"
      >
         Previous
      </button>
      <button
         [disabled]="pokemons.next === null"
         (click)="nextClicked.emit(pokemons)"
         mat-raised-button
         color="primary"
      >
         Next
      </button>
   </span>
</div>
