@import '~@angular/material/theming';

// Include non-theme styles for core.
@include mat-core();

// Define your application's custom theme.
$bug: mat-palette($mat-lime, 500, 100);
$dark: mat-palette($mat-brown, 800, 100);
$dragon: mat-palette($mat-indigo, 400, 100);
$electric: mat-palette($mat-yellow, 600, 100);
$fairy: mat-palette($mat-pink, 300, 100);
$fighting: mat-palette($mat-red, 900, 100);
$fire: mat-palette($mat-orange, 800, 100);
$flying: mat-palette($mat-deep-purple, 400, 100);
$ghost: mat-palette($mat-cyan, 900, 100);
$grass: mat-palette($mat-green, 300);
$ground: mat-palette($mat-orange, 300, 100);
$ice: mat-palette($mat-cyan, 200, 100);
$normal: mat-palette($mat-brown, 400, 100);
$poison: mat-palette($mat-purple, 600, 100);
$psychic: mat-palette($mat-pink, 600, 100);
$rock: mat-palette($mat-brown, 300, 100);
$steel: mat-palette($mat-gray, 400, 100);
$water: mat-palette($mat-blue, 800, 100);
