@import '~@angular/material/theming';

// Include non-theme styles for core.
@include mat-core();

// Define your application's custom theme.
$bug: mat-palette($mat-lime, 500);
$dark: mat-palette($mat-brown, 800);
$dragon: mat-palette($mat-indigo, 400);
$electric: mat-palette($mat-yellow, 600);
$fairy: mat-palette($mat-pink, 300);
$fighting: mat-palette($mat-red, 900);
$fire: mat-palette($mat-orange, 800);
$flying: mat-palette($mat-deep-purple, 400);
$ghost: mat-palette($mat-cyan, 900);
$grass: mat-palette($mat-green, 500);
$ground: mat-palette($mat-orange, 300);
$ice: mat-palette($mat-cyan, 200);
$normal: mat-palette($mat-brown, 400);
$poison: mat-palette($mat-purple, 600);
$psychic: mat-palette($mat-pink, 600);
$rock: mat-palette($mat-brown, 300);
$steel: mat-palette($mat-gray, 400);
$water: mat-palette($mat-blue, 800);
