.badge {
   padding: 7px 12px;
   border-radius: 16px;
   cursor: default;
   min-height: 32px;
   height: 1px;
   white-space: nowrap;
   font-size: 14px;
   font-weight: 500;
   box-sizing: border-box;
   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
